@font-face {
    font-family: 'Chopsic';
    src: url(../Recursos/Fonts/Chopsic.otf) format('truetype');
}

@font-face {
    font-family: 'Signs';
    src: url(../Recursos/Fonts/American\ Signs.otf) format('truetype');
}

@font-face {
    font-family: 'night_machine';
    src: url(../Recursos/Fonts/Night\ Machine.otf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo-y-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagen {
    text-align: center;
}

#imagencentro {
    border-radius: 20px;
}

img {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'night_machine';
}

/* #barraNavegacion nav {
    font-family: Courier 1.4em silver;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-around;
    font-family: 'Signs';
}

.contenidos a {
    text-decoration: none;
    color: #FF6500;
}

.contenidos a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.671);
}

#submenu {
    display: none;
    position: absolute;
    background: #C40C0C; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5px;
}

#submenu a:hover {
    color: rgba(41, 31, 31, 0.884);
}

#videos:hover #submenu {
    display: block;
} */

#caja-contenido {
    background: #535151; 
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

#mostrarImagen {
    margin: 15px;
    background: #C40C0C; 
    color: #fff; 
    border: 2px solid #FF8A08; 
    padding: 6px;
    border-radius: 15px;
}

#mostrarImagen:hover {
    background-color:  rgba(255, 255, 255, 0.541);
    color: #000; 
}

#cabezera {
    margin-bottom: 10px;
    padding: 40px;
}

#contenido #descripcion {
    padding: 20px;
}

#contenido #descripcion p {
    color: #fff; 
}

#contenido #contenido-curso {
    padding: 20px;
}

#contenido #contenido-curso p {
    color: #fff; 
}

#contenido #contenido-curso ul {
    color: #fff; 
}

#contenido #incluye {
    padding: 20px;
}

#contenido #incluye p {
    color: #fff; 
}

#contenido #incluye ul {
    color: #fff; 
}

#footer {
    font-family: 'Signs';
    text-align: center;
}
