@font-face {
    font-family: 'night_machine';
    src: url(../Recursos/Fonts/Night\ Machine.otf) format('truetype');
}

@font-face {
    font-family: 'WrathStyles';
    src: url(../Recursos/Fonts/anger_styles/WrathStyles.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7c7e80;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #7c7e80;
    color: #ccc;
}

header h1 {
    font-family: 'night_machine';
    color: #000;
    font-size: 2rem;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 430px;
    margin: 0 auto; /* esto es para centrarlo */
    margin-bottom: 20px;
}

section img {
    width: 0px;
    flex-grow: 1; /* esto es para que la imagen ocupe todo el espacio que pueda */
    object-fit: cover; /* esto es para que cubra todo el espacio */
    opacity: .8; /* le bajamos un poquito la opacidad */
    transition: .5s ease; /* le ponemos una transicion para cada vez que pasemos el cursor por encima */
}

section img:hover{
    cursor: crosshair; /* cambiamos el tipo de cursor */
    width: 300px;
    opacity: 1; /* le ponemos la misma opacidad que tenía al principio */
    filter: contrast(120%); /* subimos el contraste de la imagen para que se vea un poco más clara */
}

#contenido {
    padding: 15px;
    color: #ccc;
    text-align: justify;
}

#contenido h2, #contenido h4 {
    font-family: 'night_machine';
    color: #000;
    text-align: center;
}

#contenido p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

#contenido .listas {
    padding: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #0a0a0a;
}

#imagenEnMenu {
    width: 100%;
    max-width: 380px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #FFA500;
}

#cabezera {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #ccc;
    background-color: #7c7e80;
}

#boton-destacado {
    background-color: rgba(255, 165, 0, 0.767);
}

a:hover {
    color: aquamarine;
}

#contenido #informacion h2, #contenido #informacion h4 {
    font-family: 'night_machine';
    color: #000;
}

#informacion {
    margin: 10px;
}

#informacion .listas {
    padding: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #0a0a0a;
}

strong {
    font-size: 0.8em;
}


@media (max-width: 768px) {

    #contenido {
        padding: 10px;
        text-align: center;
    }

    #contenido p {
        font-size: 0.9rem;
    }

    #contenido .listas {
        padding: 5px;
        margin-left: 0;
        font-size: 1rem;
        list-style-position: inside;
    }

    #imagenEnMenu {
        max-width: 100%;
        margin: 5px;
        padding: 5px;
    }

    #informacion .listas {
        padding: 5px;
        margin-left: 0;
        font-size: 1rem;
    }
}
