* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 20px 10%;
}

#imagenEnMenu {
    width: 380px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.card {
    transition: 1s;
}

.card:hover {
    cursor: cell;
    transition: 1s;
    transform: scale(1.1);
}

#boton-destacado {
    background-color: blueviolet;
}

/* Estilo para el cuerpo del documento */
body {
    background-color: #f2f2f2; /* gris claro */
    color: #333; /* negro */
}

/* Estilo para los títulos de las tarjetas */
.card-title {
    color: #333; /* negro */
}

/* Estilo para el texto de las tarjetas */
.card-text {
    color: #666; /* gris */
}

/* Estilo para los enlaces */
.enlaceColorrand {
    color: #c82333; /* rojo */
}

/* Estilo para cambiar el color de los enlaces al pasar el ratón */
.enlaceColorrand:hover {
    color: #8b0000; /* rojo oscuro */
}
