*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 1em;
    transition: all 1.5s ease;
}

@font-face {
    font-family: 'night_machine';
    src: url(../Fuentes_Letras/night_machine/Night\ Machine.otf) format('truetype');
}

@font-face {
    font-family: 'WrathStyles';
    src: url(../Fuentes_Letras/anger_styles/WrathStyles.ttf) format('truetype');
}

h1{
    font-family: 'night_machine';
    font-size: 3.5em;
}

p {
    line-height: 1.8;
}

#contenidoPrincipal{
    display: flex;  
}

#contenidoGlobal{
    background: linear-gradient(rgb(255, 0, 128), rgb(123, 255, 255));
}

#btncambiarmodo{
    display: none; /*Esto es para que no se vea el checkbox*/
}

#iconoluna{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.dark{
    /*Esta clase es para el body, pero no se pone en el body, se 
    implementa en JS mdiante el boton para cambiar*/
    background-color: black;
    color: black;
    transition: all 1.5s ease;
    /*
    transition: Indica que se aplicará una transición a los cambios de estilo.
    all: Especifica que se aplicará la transición a todos los estilos que cambien.
    1.5s: Especifica la duración de la transición. En este caso, será de 1.5 segundos.
    ease: Es el tipo de transición que se aplicará, en este caso, "ease" describe una transición suave y gradual.
    */
}

/*mas estilos para el modo oscuro*/
.dark #contenidoGlobal{
    background-color: #333;
}

.dark h1{
    color: antiquewhite;
}

.dark #contenidoPrincipal{
    background-color: #333;
}

.dark #contenidoPrincipal h2{
    color: white;
}

.dark #contenidoPrincipal h4{
    color: white;
}

.dark #contenidoPrincipal p{
    color: white;
}

.dark #contenidoPrincipal li{
    color: white;
}

.dark #articulo1{
    background-color: #333;
    border: 4px solid green;
    margin-bottom: 20px;
}

.dark #aside{
    background-color: #333;
    border: 4px solid green;
    margin-bottom: 20px;
}

.dark #otrosenlaces{
    background-color: #333;
}

.dark #otrosenlaces a:visited{
    color: orange;
}

.dark #enlacespagina{
    background-color: #333;
}

.dark #enlacespagina a:visited{
    color: yellow;
}

.dark #enlacespagina p{
    color: white;
}

.dark #contenidosecundario h3{
    background-color: #333;
}

.dark #articulo2 {
    color: white;
}

.dark #textoARt2 p{
    background-color: #333;
}

.dark #textoARt2 #listadecoches{
    background-color: #333;
}

.dark #contenidoExtra{
    background-color: #333;
}

.dark #contenidoExtra h3{
    color: white;
}

.dark #contenidoExtra .mejorescoches{
    border: 2px solid yellow;
    box-shadow: 5px 5px 10px red;
}

.dark #footer{
    background-color: #333;
}

.dark #footer h3{
    color: white;
}

.dark #footer a:visited{
    color: yellow;
}

.dark #footer p{
    color: white;
} /*aqui se acaba el estilo para el modo oscuro*/

#imgcabezera{
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

#articulo1{
    background-color: beige;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px solid #333;
    border-radius: 8px;
    text-align: justify;
}

#aside{
    background-color:burlywood;
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid #333;
    border-radius: 8px;
    text-align: justify;
}

#otrosenlaces{
    background-color: darkgoldenrod;
    margin: 5px;
    padding: 5px;
}

#otrosenlaces span{
    margin-left: 20px;
}

#enlacespagina{
    background-color: yellowgreen;
    margin: 5px;
    padding: 5px;
}

#enlacespagina a{
    margin-left: 10px;
    text-decoration: none;
}

#enlacespagina a:hover{
    color: sandybrown;
}

#otrosenlaces nav a{
    text-decoration: none;
}

#otrosenlaces nav a:hover{
    background-color: blueviolet;
    color: aqua;
}

/*
#otrosenlaces nav a:visited{
    color: deeppink;
}
*/

#articulo1 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#aside h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#articulo1 h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

#aside h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgcontenido2{
    width: 150px;
    height: 150px;
}

#contenidosecundario{
    background-color: #333;
    margin-top: 20px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

#contenidosecundario h3{
    color: aliceblue;
    background-color: yellowgreen;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#contenidosecundario #articulo2 p{
    color: aliceblue;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#textoARt2 {
    order: -1; /*esto es para poner el texto al lado izquierdo de la imagen*/
}

#textoARt2 p{  
    margin-bottom: 10px;
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    text-shadow: 2px 2px rgb(38, 0, 255);
}

#textoARt2 #listadecoches{
    background-color: cadetblue;
    margin-bottom: 10px;
    margin: 10px;
    padding: 10px;  
}

#textoARt2 .listacoches{
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#articulo2{
    display: flex;
    text-align: justify;
}
 
#box-imagenPrueba{
    margin: 20px;
    padding: 20px;
}
 
#imagencochevista{
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 10px violet;
    width: 700px;
    height: 350px;
}

#contenidoExtra{
    background-color: springgreen;
    border-radius: 20px;
}

/* #asideextra{
    background-color: darkgray;
}
  
#asideextra h3{
    color: teal;
    margin: 5px;
    padding: 5px;
}

#asideextra img{
    margin-top: 10px;
    border: 2px solid rgb(38, 0, 255);
    box-shadow: 5px 5px 10px rgb(8, 245, 186);
}

#asideextra p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
} */

.mejorescoches{
    width: 230px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid rgb(158, 182, 177);
    box-shadow: 5px 5px 10px rgb(211, 12, 211);
}

#img-y_texto h3{
    color: darkgoldenrod;
    margin: 5px;
    padding: 5px;
}

#img-y_texto p{
    text-align: justify;
    margin: 5px;
    padding: 5px;
}

.img_ex img{
    transition: 1s; /*Esto hace que tarde un segundo en ampliar la imagen*/
}

.img_ex img:hover{
    cursor: pointer; /*Esto es para que a lpasar la imagen se ponga la 'mano' e nved de el cursor*/
    transition: 1s;
    transform: scale(1.1); /*Esto es para que cuando pase el cursor se amplie la imagen*/ 
}

.imagenesex{
    margin-bottom: 10px;
}

#footer{
    margin-top: 15px;
    background-color: darkgrey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer h3{
    color: black;
}

#pie{
    color: aliceblue;
}

#pie p{
   margin: 10px;
   padding: 10px;
   color: black;
}

#footer a{
   margin-right: 10px; 
   font-family: 'WrathStyles';
}

#footer a:visited{
    color: rgb(142, 54, 241);
}

