body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.navbar a:hover {
    background-color: #ddd;
    color: #180606;
}

#sectionNavbar{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #333;
    box-sizing: border-box;
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.41), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0);
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sectionNavbar .clearfix{
    clear: both;
}

#sectionNavbar nav{
    float: unset;
    text-align: center;
    position: relative;
}

#sectionNavbar nav a{
    line-height: 80px;
    height:100%;
    font-size: 14px;
    display:inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

#sectionNavbar nav a:hover{
    text-decoration: none;
    color: white;
}

#sectionNavbar nav .animation{
    position: absolute;
    height:100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease;
}

#sectionNavbar div nav a:nth-child(1){
    width: 140px;
}
a:nth-child(2){
    width: 140px;
}
a:nth-child(3){
    width: 140px;
}
a:nth-child(4){
    width: 140px;
}

nav .start-home, a:nth-child(1):hover~.animation{
   width: 126px;
   left: 16rem;/*IMPORTANT*/
   text-decoration: none;
   border-radius: 30px;
   box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
   background: linear-gradient(to right, #ff7f0e, #ff0000);
}
a:nth-child(2):hover~.animation{
    width: 110px;
    left: 23.7rem;/*IMPORTANT*/
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ff7f0e, #ff0000);
}
a:nth-child(3):hover~.animation{
    width: 110px;
    left: 32.8rem;/*IMPORTANT*/
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ff7f0e, #ff0000);
}
a:nth-child(4):hover~.animation{
    width: 120px;
    left: 41.4rem;/*IMPORTANT*/
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ff7f0e, #ff0000);
}
a:nth-child(5):hover~.animation{
    width: 150px;
    left: 48rem;/*IMPORTANT*/
    box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25), inset 0 2px 1px 1px #333, inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ff7f0e, #ff0000);
}

@media (max-width: 768px) {
    #sectionNavbar {
        display: none;
    }
}